<app-jumbotron></app-jumbotron>
<nav>
  <mat-toolbar color="accent" style="margin-top: -46px" class="ps-0 pe-0">
    <div class="container-fluid overflow-auto">
      <a mat-button href="">Transparência</a>
      <a mat-button href="">Informações</a>
      <a mat-button href="">COVID-19</a>
      <a mat-button href="">Vacinômetro</a>
    </div>
  </mat-toolbar>
</nav>
<div style="background-color: #2772a8; color: white">
  <div class="container pt-5">
    <section>
      <div class="row">
        <div class="col-12 col-md-6">
          <h1 class="mat-display-1">Transparência</h1>
          <div class="row">
            <div class="col-12 col-md-12">
              <mat-card class="mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="../assets/undraw_medical_research_qg4d.svg"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="mat-title">Despesa Liquidada com COVID-19</h2>
                      <p class="mat-subheading-2">R$ 1.569.073,36</p>
                      <p class="mat-caption">
                        <small> Atualizado em 16 de maio de 2021</small>
                      </p>
                      <a
                        href="https://www.facebook.com/prefeituramunicipaldepombospe"
                        mat-button
                        mat-raised-button
                        color="primary"
                        aria-label="Boletim"
                        class="me-1"
                        target="_blank"
                      >
                        Saiba mais
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-12 col-md-12">
              <mat-card>
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="../assets/undraw_financial_data_es63.svg"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="mat-title">Receitas com COVID-19</h2>
                      <p class="mat-subheading-2">R$: 2.916.218,87</p>
                      <p class="mat-caption">
                        <small> Atualizado em 16 de maio de 2021</small>
                      </p>
                      <a
                        href="https://www.facebook.com/prefeituramunicipaldepombospe"
                        mat-button
                        mat-raised-button
                        color="primary"
                        aria-label="Boletim"
                        class="me-1"
                        target="_blank"
                      >
                        Saiba mais
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h1 class="mat-display-1">Informações</h1>
          <mat-list role="list">
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Sobre o Coronavírus COVID-19</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Dê sua opinião</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Denuncie</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Faça uma reclamação</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Em que podemos te ajudar?</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
          </mat-list>
        </div>
      </div>
    </section>
  </div>
</div>
