small {
  color: gray;
}
a {
  text-decoration: none;
}
nav a:hover {
  color: white;
}
a.mat-list-item {
  color: white;
}
div {
  img {
    width: 52%;
    margin: 0 auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  div {
    img {
      width: 100%;
    }
  }
}
