<app-jumbotron></app-jumbotron>
<nav>
  <mat-toolbar color="accent" style="margin-top: -46px" class="ps-0 pe-0">
    <div class="container overflow-auto">
      <a mat-button href="#transparencia">Transparência</a>
      <a mat-button href="#informacoes">Informações</a>
      <a mat-button href="#covid-19">COVID-19</a>
      <a mat-button href="#vacinometro">Vacinômetro</a>
    </div>
  </mat-toolbar>
</nav>
<div style="background-color: #2772a8; color: white">
  <div class="container pt-5">
    <section>
      <div class="row">
        <div id="transparencia" class="col-12 col-md-6 mb-4">
          <h1 class="mat-display-1">Transparência</h1>
          <div class="row">
            <div class="col-12 col-md-12">
              <mat-card class="mb-3">
                <div class="row g-0">
                  <div class="col-12 col-md-4 text-center">
                    <img
                      src="../assets/undraw_medical_research_qg4d.svg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="mat-title">Despesa Liquidada com COVID-19</h2>
                      <p class="mat-subheading-2">R$ 1.569.073,36</p>
                      <p class="mat-caption">
                        <small> Atualizado em 16 de maio de 2021</small>
                      </p>
                      <a
                        href="https://www.facebook.com/prefeituramunicipaldepombospe"
                        mat-button
                        mat-raised-button
                        color="primary"
                        aria-label="Boletim"
                        class="me-1"
                        target="_blank"
                      >
                        Saiba mais
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-12 col-md-12">
              <mat-card>
                <div class="row g-0">
                  <div class="col-12 col-md-4 text-center">
                    <img
                      src="../assets/undraw_financial_data_es63.svg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="mat-title">Receitas com COVID-19</h2>
                      <p class="mat-subheading-2">R$: 2.916.218,87</p>
                      <p class="mat-caption">
                        <small> Atualizado em 16 de maio de 2021</small>
                      </p>
                      <a
                        href="https://www.facebook.com/prefeituramunicipaldepombospe"
                        mat-button
                        mat-raised-button
                        color="primary"
                        aria-label="Boletim"
                        class="me-1"
                        target="_blank"
                      >
                        Saiba mais
                        <mat-icon>open_in_new</mat-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div id="informacoes" class="col-12 col-md-6 mb-4">
          <h1 class="mat-display-1">Informações</h1>
          <mat-list role="list">
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Sobre o Coronavírus COVID-19</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Dê sua opinião</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Denuncie</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Faça uma reclamação</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
            <a
              mat-list-item
              href="https://www.gov.br/saude/pt-br/vacinacao/"
              target="_blank"
              role="listitem"
            >
              <p matLine>Em que podemos te ajudar?</p>
              <mat-icon>open_in_new</mat-icon>
            </a>
          </mat-list>
        </div>
      </div>
    </section>
  </div>
</div>
<div>
  <div class="container pt-5">
    <section>
      <div class="row">
        <div id="covid-19" class="col-12 col-md-6 mb-4">
          <h1 class="mat-display-1">COVID-19</h1>
          <h2 class="headline">Painel de monitoramento</h2>
          <p>
            <small class="mat-caption">Atualizado em 19 de maio de 2021</small>
          </p>
          <mat-card class="text-center">
            <h3 class="subheading-2 text-center">Boletim COVID-19</h3>
            <hr />
            <div class="row">
              <div class="col">
                <h4 class="subheading-1">1567</h4>
                Casos confirmados
              </div>
              <div class="col">
                <h4 class="subheading-1">1514</h4>
                Recuperados
              </div>
              <div class="col">
                <h4 class="subheading-1">37</h4>
                Óbitos
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">1418</h4>
                Casos leves
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">149</h4>
                Casos graves
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">07</h4>
                Hospitalizados
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">01</h4>
                Óbitos em investigação
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">13</h4>
                Investigação
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">1258</h4>
                Descartados
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">09</h4>
                Isolamento domiciliar
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">01</h4>
                Casos suspeitos de reinfecção
              </div>
            </div>
          </mat-card>
        </div>
        <div id="vacinometro" class="col-12 col-md-6 mb-4">
          <h1 class="mat-display-1">Vacinômetro</h1>
          <h2 class="headline">Pombos vacina</h2>
          <p>
            <small class="mat-caption">Atualizado em 19 de maio de 2021</small>
          </p>
          <mat-card class="text-center">
            <h3 class="subheading-2 text-center">Pombos contra a COVID-19</h3>
            <hr />
            <div class="row">
              <div class="col">
                <h4 class="subheading-1">5490</h4>
                Total de vacinados
              </div>
              <div class="col">
                <h4 class="subheading-1">71</h4>
                Quilombolas
              </div>
              <div class="col">
                <h4 class="subheading-1">226</h4>
                Comorbidades
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">D1: 353 D2: 330</h4>
                Profissionais de saúde
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">D1: 272 D2: 116</h4>
                Idosos 85+
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">D1: 302 D2: 81</h4>
                Idosos 80 a 84
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">D1: 355 D2: 280</h4>
                Idosos 75 a 79
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">D1: 718 D2: 489</h4>
                Idosos 70 a 74
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">D1: 708 D2: 380</h4>
                Idosos 65 a 69
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">D1: 241 D2: 02</h4>
                Idosos 63 a 64
              </div>
              <div class="col-6 col-md-3">
                <h4 class="subheading-1">D1: 463 D2: 41</h4>
                Idosos 60 a 62
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </section>
  </div>
</div>
<footer
  class="mt-5 pt-4 pb-4 text-center"
  style="background-color: #e6e7e8; color: #a5a7aa"
>
  © Copyright 2019 Prefeitura Municipal de Pombos/ PE | Todos os direitos
  reservados
</footer>
