<div style="background-color: #f7f7f7">
  <div class="container">
    <img
      src="../assets/logo-pombos.png"
      alt="Brasão Prefeitura de Pombos-PE"
      id="brasao"
    />
    <div class="row justify-content-start align-items-center">
      <div class="col-12 col-md-6">
        <h1 class="mat-display-3 mb-2">
          <span> Portal da </span>
          <br />Transparência COVID-19
        </h1>
        <p class="mat-title mb-4" style="font-family: 'Roboto Condensed'">
          A pandemia ainda não acabou!
        </p>
        <a
          href="https://www.facebook.com/prefeituramunicipaldepombospe"
          mat-button
          mat-raised-button
          color="primary"
          aria-label="Boletim"
          class="me-1"
          target="_blank"
        >
          Boletim
          <mat-icon>open_in_new</mat-icon>
        </a>
        <a
          href="https://www.vacinapombos.com.br/"
          mat-button
          aria-label="Agende sua vacinação aqui"
          target="_blank"
        >
          Agendar vacinação
          <mat-icon>open_in_new</mat-icon>
        </a>
      </div>
      <div class="col-12 col-md-6">
        <ng-lottie
          [options]="options"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
      </div>
    </div>
  </div>
</div>
